@keyframes scrollLeft {
    to {
      left: -200px;
    }
}

@keyframes scrollRight {
  0% {
    left: calc(-200px * 8);
  }
  100% {
    left: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-20px) rotate(6deg);
  }

  50% {
    transform: translateY(0) rotate(0deg);
  }

  100% {
    transform: translateY(20px) rotate(-6deg);
  }
}