@keyframes scrollLeft {
    to {
      left: -200px;
    }
}

@keyframes scrollRight {
  0% {
    left: calc(-200px * 8);
  }
  100% {
    left: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-20px) rotate(6deg);
  }

  50% {
    transform: translateY(0) rotate(0deg);
  }

  100% {
    transform: translateY(20px) rotate(-6deg);
  }
}
@keyframes bounceFadeIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  20% {
    transform: translateY(20px);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  40% {
    transform: translateY(-10px);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  60% {
    transform: translateY(5px);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  80% {
    transform: translateY(-2px);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}


@keyframes bounceFadeOut {
  0% {
    transform: translateY(100px);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  20% {
    transform: translateY(-20px);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  40% {
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  60% {
    transform: translateY(-5px);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  80% {
    transform: translateY(2px);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}