
@import './style/tailwind.css';
@import url('https://fonts.cdnfonts.com/css/recoleta');
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
    font-family: 'Acari Sans', sans-serif;
    background-color: rgb(246, 244, 244);
}

.dark {
    background-color: #1a1919;
}